#header .top {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header .top .logo img {
	padding-left: 150px;
	height: 100px;

}

#header .top .nav {
	text-align: center;
	display: flex;
	align-items: center;
}

#header .top .nav li {
	border: 1px solid #ccc;
	padding: 10px;
	margin-right: 5px;
	background-color: rgba(127, 255, 212, 0.37);
	border-radius: 5px;
}

#header .top .nav li a {
	color: rgba(128, 255, 0, 0.815);
}

#header .top .login {
	display: flex;
	align-items: center
}

#header .top .login span {
	border: 1px solid #ccc;
	padding: 6px 3px;
	background-color: rgba(233, 83, 128, 0.726);
	border-radius: 3px;
}

#header .top .login {
	background-color: rgba(0, 0, 0, 0.575);

	font-size: 16px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ccc;
}

#header .top .login a {

	color: #ffff;
}

#header .top .login span a {
	font-size: 16px;
	color: rgba(0, 255, 255, 0.822);
}

#header .top .login .exit {
	margin-left: 10px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	color: aliceblue;
	background-color: rgba(128, 128, 128, 0.712);
	border-radius: 5px;
}

.exit a {
	color: #ffffff;
}

#header .top .login img {
	width: 60px;
	height: 60px;
}
 