.header {
  background-color: #fff;
  .header-top {
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    text-align: right;
    a {
      margin-left: 40px;
      color: #f9c700;
    }
  }
  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20xp;
    border-top: 1px solid #f9c700;
    .breadcrumb-title {
      text-align: center;
      &::after{
        content: '';
        position: absolute;;
        left: 81px;
        top: 39px;
        border-top: 10px solid #fff;
        border-left: 13px solid #0000;
        border-right: 13px solid #0000;
      }
    }
    .weather {
      text-align: right;
      padding-right: 45px;
      .weather-detail{
        
      }
      img {
        width: 30px;
        margin-right: 10px;
        margin-left: 10px;
      }
      .font {
        font-size: 16px;
      }
    }
  }
}
